%section.ten-oh-announcement
  .ten-oh-label
    %span 12.8
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.8 introduces a Log Explorer, NuGet Repositories, Compliance Dashboard, and much more!

      .btn-group
        = link_to "/releases/2020/02/22/gitlab-12-8-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
