---
layout: default
title: What's your Digital Readiness?
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: https://learn.gitlab.com/c/digital-readiness?x=QjgA6X&utm_campaign=2020whitepaperdigitalreadiness
form_id: "1002"
form_type: "resources"
cta_title: "Download the whitepaper"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the whitepaper"
success_message: "You will also receive a copy of the whitepaper"
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline What is your Digital Readiness?
        %h2.page-headline Measuring competitiveness in a digital world

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Despite the tremendous effort businesses put into them, transformation initiatives have a problem. The vast majority of them never succeed, and among those that do, their effectiveness is often lower than expected.
            
            %p In 2019, CNBC reported that companies spent $1.3 trillion on “digital transformation” initiatives but 70% of those programs failed. To succeed, business leaders need to learn how to sense and respond to the market to achieve business agility. 

            %h3 What you’ll learn in this whitepaper:
            %ul
              %li Why digial transformations fail
              %li The four stages of business agility
              %li How to achieve digital transformation success

            %p Download the whitepaper to learn how to navigate and success in your digital transformation journey. 

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }