---
layout: handbook-page-toc
title: "Create:Editor Backend Engineer Work"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Sprint Planning

## Sample Sprint Schedule
<%= partial("handbook/engineering/development/dev/create/sprint_schedule.erb") %>

### Capacity Planning
<%= partial("handbook/engineering/development/dev/create/sprint_capacity.erb") %>
<%= partial("handbook/engineering/development/dev/create/capacity_planning.erb") %>

### Release Issue Board
<%= partial("handbook/engineering/development/dev/create/release_issue_board.erb") %>

### Issue Assignments
<%= partial("handbook/engineering/development/dev/create/issue_assignments.erb") %>

## Sprint

### What to work on

<%= partial("handbook/engineering/development/dev/create/what_to_work_on.erb", locals: { group: "Editor", slack_channel: 'g_create_editor' }) %>

[issue board]: https://gitlab.com/groups/gitlab-org/-/boards/412126?label_name[]=group::editor&label_name[]=backend
[assignment board]: https://gitlab.com/groups/gitlab-org/-/boards/1143526

## Sprint Retrospective
<%= partial("handbook/engineering/development/dev/create/retrospectives.erb", locals: { group: "Editor", group_slug: 'editor' }) %>

## Visualization Tools
<%= partial("handbook/engineering/monitoring/visualization_tools.erb") %>

## Monitoring Tools
<%= partial("handbook/engineering/monitoring/monitoring_tools.erb") %>



