---
layout: job_family_page
title: "Sr. Manager, Sales Systems"
---

## Responsibilities

* Chief administrator of all sales systems
* Help drive business system strategy and direction across Sales, Marketing and cross-functional teams.
* Collaborate with other departments to improve integration between Salesforce and other mission-critical systems, including Marketo, Zendesk and Zuora.
* Optimize current business processes (e.g. CPQ/QTC) to scale for growth and efficiency
* Facilitate successful implementation of new technology and processes, fostering an organization of continuous process improvement.
* Manage the development of detailed design specifications for use by the technical team.
* Manage data governance processes and adherence of guidelines between internal business units and systems.
* Perform in-depth analysis and insight into key business metrics.

## Requirements

* BA/BS degree
* 5+ years in a business and/or systems role
* Salesforce.com ninja including validation rules, workflow, formulas, sandbox and customization of all standard and custom objects.
* Demonstrated ability to drive cross-functional teams to meet business objectives and influence colleagues, fostering strong working relationships.
* Strong strategic thinking, creative problem solving and analytical skills.
* Excellent problem solving, project management, interpersonal and organizational skills
* Experience owning a project from concept to production, including proposal, discussion, and execution.
* Significant experience with SOQL, APEX and VisualForce
* Certified Salesforce.com Administrator & Force.com Developer
* SaaS and B2B experience preferred
* Interest in GitLab, and open source software
* You share our values, and work in accordance with those values
* Ability to thrive in a fully remote organization
* [Leadership at GitLab](https://about.gitlab.com/handbook/leadership/#management-group)
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Senior Manager Sales Systems" }) %>

## Hiring Process

* Selected candidates will be invited to schedule a [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to a first interview with the Hiring Manager
* Second round interviews will be the Interview team that consists of 2-4 interviews
* An optional final interview with a C level Executive may occur

Additional details about our process can be found on our [hiring page](/handbook/hiring).
* Successful candidates will subsequently be made an offer via email
